<footer class="footer">

    <div class="container">

        <div class="row">



            <div class="col-md-3">

                <h2 class="f_head text-uppercase">About</h2>

                <hr class="divider" />

                <ul>

                    <li><a href="#">About Us</a></li>

                    <li><a href="#">Contact Us</a></li>

                    <li><a href="#">General Terms and Conditions</a></li>

                    <li><a href="#">Responsible Gaming</a></li>

                    <li><a href="#">Privacy Policy</a></li>

                    <li><a href="#">Security</a></li>

                </ul>

            </div>



            <div class="col-md-3">

                <h2 class="f_head text-uppercase">quick links</h2>

                <hr class="divider" />

                <ul>

                    <li><a href="#">Home</a></li>

                    <li><a href="#">Sports Betting</a></li>

                    <li><a href="#">Live Betting</a></li>

                    <li><a href="#">Live casino</a></li>

                    <li><a href="#">Online casino</a></li>

                    <li><a href="#">Poker</a></li>

                </ul>

            </div>



            <div class="col-md-2">

                <h2 class="f_head text-uppercase">Help</h2>

                <hr class="divider" />

                <ul>

                    <li><a href="#">FAQs</a></li>

                    <li><a href="#">Casino</a></li>

                    <li><a href="#">Affiliate Program</a></li>

                </ul>

            </div>



            <div class="col-md-4">

                <h2 class="f_head text-uppercase">Subscribe</h2>

                <hr class="divider" />

                <div class="subscribe">

                    <form>

                        <div class="form-group">

                            <input class="form-control" type="text" name="" placeholder="Enter your mail">

                        </div>

                        <div>

                            <button type="submit">Submit</button>

                        </div>

                    </form>

                </div>

                <div class="social">

                    <ul>

                        <li>
                            <a href=""><img src="assets/frontend/images/facebook.png" class="img-fluid" alt="social" /></a>
                        </li>

                        <li>
                            <a href=""><img src="assets/frontend/images/pinterest.png" class="img-fluid" alt="social" /></a>
                        </li>

                        <li>
                            <a href=""><img src="assets/frontend/images/twetter.png" class="img-fluid" alt="social" /></a>
                        </li>

                        <li>
                            <a href=""><img src="assets/frontend/images/google_plus.png" class="img-fluid" alt="social" /></a>
                        </li>

                        <li>
                            <a href=""><img src="assets/frontend/images/rss.png" class="img-fluid" alt="social" /></a>
                        </li>

                    </ul>

                </div>

            </div>



        </div>

        <hr class="liner" />

        <div class="payment">

            <ul>

                <li>
                    <a href="#"><img src="assets/frontend/images/master_card.png" class="img-fluid" alt="payment" /></a>
                </li>

                <li>
                    <a href="#"><img src="assets/frontend/images/visa.png" class="img-fluid" alt="payment" /></a>
                </li>

                <li>
                    <a href="#"><img src="assets/frontend/images/american_express.png" class="img-fluid" alt="payment" /></a>
                </li>

                <li>
                    <a href="#"><img src="assets/frontend/images/skrill.png" class="img-fluid" alt="payment" /></a>
                </li>

                <li>
                    <a href="#"><img src="assets/frontend/images/paypal.png" class="img-fluid" alt="payment" /></a>
                </li>

                <li>
                    <a href="#"><img src="assets/frontend/images/bitcoin.png" class="img-fluid" alt="payment" /></a>
                </li>

            </ul>

        </div>

    </div>

</footer>



<div class="sub_footer flex align_center">

    <div class="copyright">

        <span>Betnesis © <?php echo date("Y"); ?></span>

        <span>Powered by <a href="http://www.webgentechnologies.com" target="_blank">Webgen Technologies</a> | All Rights Reserved</span>

    </div>

</div>

<!-- footer_section -->



<!-- bet-slip -->

<div class="bet_slip_card">

    <div class="openClose_btn">

        Betslip <img src="assets/frontend/images/down-arrow-black.svg" class="img-fluid icon">

    </div>



    <div class="bet_slip_head bg_drk_blue flex space_betwen">

        <label><input type="checkbox" class="checkbox-custom"/> Select All</label>

        <label><input type="checkbox" class="checkbox-custom"/> Remove All</label>

    </div>



    <div class="bet-slip">

        <div class="bet_stake bg_drk_blue">

            <div class="teams flex space_betwen">

                <div class="teams_name">

                    <p>Sydney FC -vs- Newcastle Jets</p>

                    <p>1X2 Pafos FC @ 1.61</p>

                </div>

                <div class="bet_stake_control">

                    <a href="#" title="info"><img src="assets/frontend/images/info.svg"></a>

                    <a href="#" title="close"><img src="assets/frontend/images/close.svg"></a>

                </div>

            </div>

            <div class="flex space_betwen bet_input">

                <label>Stake <input type="text"/></label>

                <label>Est win <input type="text"/></label>

            </div>

        </div>

        <div class="bet_stake bg_drk_blue">

            <div class="teams flex space_betwen">

                <div class="teams_name">

                    <p>Sydney FC -vs- Newcastle Jets</p>

                    <p>1X2 Pafos FC @ 1.61</p>

                </div>

                <div class="bet_stake_control">

                    <a href="#" title="info"><img src="assets/frontend/images/info.svg"></a>

                    <a href="#" title="close"><img src="assets/frontend/images/close.svg"></a>

                </div>

            </div>

            <div class="flex space_betwen bet_input">

                <label>Stake <input type="text"/></label>

                <label>Est win <input type="text"/></label>

            </div>

        </div>

        <div class="bet_stake bg_drk_blue">

            <div class="teams flex space_betwen">

                <div class="teams_name">

                    <p>Sydney FC -vs- Newcastle Jets</p>

                    <p>1X2 Pafos FC @ 1.61</p>

                </div>

                <div class="bet_stake_control">

                    <a href="#" title="info"><img src="assets/frontend/images/info.svg"></a>

                    <a href="#" title="close"><img src="assets/frontend/images/close.svg"></a>

                </div>

            </div>

            <div class="flex space_betwen bet_input">

                <label>Stake <input type="text"/></label>

                <label>Est win <input type="text"/></label>

            </div>

        </div>

        <div class="bet_stake bg_drk_blue">

            <div class="teams flex space_betwen">

                <div class="teams_name">

                    <p>Sydney FC -vs- Newcastle Jets</p>

                    <p>1X2 Pafos FC @ 1.61</p>

                </div>

                <div class="bet_stake_control">

                    <a href="#" title="info"><img src="assets/frontend/images/info.svg"></a>

                    <a href="#" title="close"><img src="assets/frontend/images/close.svg"></a>

                </div>

            </div>

            <div class="flex space_betwen bet_input">

                <label>Stake <input type="text"/></label>

                <label>Est win <input type="text"/></label>

            </div>

        </div>

    </div>

    <div class="bet_stake bg_drk_blue">

        <table class="table">

            <tr>

                <td>Stake per bet</td>

                <td><input type="text" name=""></td>

            </tr>

            <tr>

                <td>Total 2 Bet(s) :</td>

                <td><span>EUR</span></td>

            </tr>

            <tr>

                <td>Est Payout :</td>

                <td><span>EUR 0.00</span></td>

            </tr>

            <tr>

                <td colspan="2">

                    <button type="button" class="plcace_bet_btn">Place bet</button>

                </td>

            </tr>

        </table>

    </div>

</div>

<!-- bet-slip -->



<!-- live-chat -->

<div class="livechat-girl js-livechat-girl animated">

    <div class="help_text">

        <p>Can i help you?</p>

    </div>

    <div class="js-girl-holder girl-holder">

        <span class="chat_status online"></span>

        <img class="js-girl-image" src="https://s.tmimgcdn.com/img/chat-presales/smile/en_3.png?width=60&amp;height=60">

    </div>

    <div class="animated-circles js-animated-circles">

        <div class="circle c-1"></div>

        <div class="circle c-2"></div>

        <div class="circle c-3"></div>

    </div>

</div>