<section class="banner_section">

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->

        <ul class="carousel-indicators">

            <li data-target="#demo" data-slide-to="0" class="active"></li>

            <li data-target="#demo" data-slide-to="1"></li>

            <li data-target="#demo" data-slide-to="2"></li>

        </ul>



        <!-- The slideshow -->

        <div class="carousel-inner">

            <div class="carousel-item active">

                <img src="assets/frontend/images/banner_1.png" alt="banner">

                <div class="carousel_caption">

                    <div class="flex_box">

                        <div class="col-md-8">

                            <p>Tottenham vs. West Ham 04.01 | 21:00 England - Premier League </p>

                        </div>

                        <div class="col-md-4">

                            <p>1X2 Full Time </p>

                        </div>

                    </div>

                    <div class="col-md-12">

                        <table class="table">

                            <tr>

                                <td>Tottenham</td>

                                <td>1.27</td>

                            </tr>

                            <tr>

                                <td>X</td>

                                <td>5.85</td>

                            </tr>

                            <tr>

                                <td>West Ham </td>

                                <td>11.87</td>

                            </tr>

                        </table>

                    </div>

                </div>

            </div>



        </div>



    </div>

</section>



<!-- banner_section -->





<!-- liveBetting_section -->



<section class="liveBetting_section">



    <h2 class="text-center text-uppercase">Live betting</h2>



    <div class="liveBet_slider">

        <div class="container">

            <div class="owl-one owl-carousel owl-theme">

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/baseball.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/baseball-hover.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Baseball</h5>

                    <div class="betting_no">

                        <span>3</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/hockey.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/hockey-hover.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Ice Hockey</h5>

                    <div class="betting_no">

                        <span>1</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/live_casino.png" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/live_casino_hovered.png" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Live casino</h5>

                    <div class="betting_no">

                        <span>1</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/rugby.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/rugby_hover.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Rugby</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/volleyball.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/volley_ball_hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Volleyball</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/motorsport.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/motorSport_hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Motor Sport</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/slots.png" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/slots_hovered.png" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Retro slots</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/athletics.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/athletics_hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Athletics</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/football.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/football._hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Soccer</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/target.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/target_hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">Darts</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/game-controller.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/game-controller_hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">E-Sports</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/game-controller.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/game-controller_hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">E-Sports</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/game-controller.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/game-controller_hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">E-Sports</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>

                <div class="item">

                    <div class="live_bet_icon">

                        <a href="live.html">

                            <img src="assets/frontend/images/game-controller.svg" alt="live-bet" class="img-fluid" />

                            <img src="assets/frontend/images/game-controller_hovered.svg" alt="live-bet" class="img-fluid" />

                        </a>

                    </div>

                    <h5 class="text-center text-uppercase">E-Sports</h5>

                    <div class="betting_no">

                        <span>4</span>

                    </div>

                </div>







            </div>

        </div>

    </div>

</section>



<!-- liveBetting_section -->





<!-- body_content -->

<section class="welcomeMain home">

    <div class="container">

        <div class="row">



            <div class="col-md-3 Left-panel">

                <div class="panel_top"></div>

                <div class="sports">

                    <h2>All Sports</h2>

                    <ul>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Soccer</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/basketball.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Basketball</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/baseball-color.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Baseball</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/tennis.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Tennis</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/american-football.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>American Football</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/cricket.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Cricket</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/cycling.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Cycling</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/target-color.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Darts</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/presentation.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Financial</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/golf.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Golf</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/racing.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Motor Sport</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                        <li>

                            <a href="league.html">

                                <div class="sport_icon"><img src="assets/frontend/images/podium.svg" class="img-fluid" alt="sports" /></div>

                                <div class="sport_name"><span>Olympic</span></div>

                                <div class="sport_no"><span>30</span></div>

                            </a>

                        </li>

                    </ul>

                </div>

            </div>



            <div class="col-md-6">



                <div class="LeagueTab">



                    <div class="tab_head">

                        <div class="tab_collaps">

                            <button data-toggle="collapse" data-target="#leagu_table1"><img src="assets/frontend/images/down-arrow-light.svg" class="img-fluid icon"></button>

                        </div>

                        <div class="tab_name">

                            <h2>1X2</h2>

                        </div>

                        <div class="tab_refresh">

                            <img src="assets/frontend/images/loading.svg" class="img-fluid" alt="loading">

                        </div>

                    </div>



                    <div id="leagu_table1" class="collapse show">

                        <div class="League_table_head">

                            <h5 class="text-center">Australia Hyundai A League</h5>

                        </div>

                        <div class="table_league_re">

                            <table class="table table_league">

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>



                            </table>

                        </div>

                    </div>



                </div>



                <div class="LeagueTab">



                    <div class="tab_head">

                        <div class="tab_collaps">

                            <button data-toggle="collapse" data-target="#leagu_table2"><img src="assets/frontend/images/down-arrow-light.svg" class="img-fluid icon"></button>

                        </div>

                        <div class="tab_name">

                            <h2>Asian Handicap</h2>

                        </div>

                        <div class="tab_refresh">

                            <img src="assets/frontend/images/loading.svg" class="img-fluid" alt="loading">

                        </div>

                    </div>



                    <div id="leagu_table2" class="collapse show">

                        <div class="League_table_head">

                            <h5 class="text-center">Australia Hyundai A League</h5>

                        </div>

                        <div class="table_league_re">

                            <table class="table table_league">

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></a>
                                    </td>

                                    <td>Jan 03</td>

                                    <td>16:50</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/star.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                    <td><span>Sydney FC</span><span class="float-right">1.51</span></td>

                                    <td><span>Draw</span><span class="float-right">1.51</span></td>

                                    <td><span>Newcastle Jets</span><span class="float-right">1.51</span></td>

                                    <td>26</td>

                                    <td>
                                        <a href="#"><img src="assets/frontend/images/statistic.svg" class="img-fluid" alt="star" /></a>
                                    </td>

                                </tr>



                            </table>

                        </div>

                    </div>



                </div>



            </div>



            <div class="col-md-3 right-panel">

                <div class="ads">

                    <div class="ad">

                        <a href="#"><img src="assets/frontend/images/ad_1.png" class="img-fluid" alt="ad"></a>

                    </div>

                    <div class="ad">

                        <a href="#"><img src="assets/frontend/images/ad_2.png" class="img-fluid" alt="ad"></a>

                    </div>

                    <div class="ad">

                        <a href="#"><img src="assets/frontend/images/ad_3.png" class="img-fluid" alt="ad"></a>

                    </div>

                </div>

            </div>



        </div>

    </div>

</section>