<div class="submenu">

    <div class="container">

        <div class="flex space_betwen">

            <ul class="flex">

                <li><a href="#">Overview</a></li>

                <li><a href="#">Event View</a></li>

                <li><a href="#">Schedule</a></li>

            </ul>

            <ul class="flex">

                <li>

                    <select class="select_custom light">

            <option>07:39:00 (GMT +1)</option>

          </select>

                </li>

                <li>

                    Jan 30 Tue, 2018

                </li>

            </ul>

        </div>

    </div>

</div>



<!-- breadcumb -->

<div class="breadcumb">

    <div class="container">

        <div class="breadcumbBg">

            <div class="btn-group btn-breadcrumb">

                <a href="Javascript:void(0);" class="btn btn-info">Home</a>

                <a href="Javascript:void(0);" class="btn btn-info active">Live Bet</a>

            </div>

        </div>

    </div>

</div>
<section class="welcomeMain welcomeBgLight">

    <div class="container">

        <div class="row">



            <div class="col-md-3 Left-panel">

                <!-- <div class="panel_top"></div> -->

                <div class="bet_cat bg_dark">

                    <ul class="flex space_betwen">

                        <li>

                            <select class="select_custom blue">

                <option>Asian</option>

              </select>

                        </li>

                        <li>

                            <select class="select_custom blue">

                <option>Decimal</option>

              </select>

                        </li>

                    </ul>

                </div>



                <div class="sports">

                    <div class="sport_tab_nav bg_dark">

                        <ul class="nav nav-tabs tab_custom tab_light tab_sm" role="tablist">

                            <li class="nav-item">

                                <a class="nav-link" data-toggle="tab" href="#match_future">Future</a>

                            </li>

                            <li class="nav-item">

                                <a class="nav-link active" data-toggle="tab" href="#match_live">Live <span class="live_match">(46)</span></a>

                            </li>

                            <li class="nav-item">

                                <a class="nav-link" data-toggle="tab" href="#match_today">Today</a>

                            </li>

                        </ul>

                    </div>



                    <div class="tab-content tab_light_content">



                        <div id="match_future" class="tab-pane">

                            <ul>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Soccer</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/basketball.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Basketball</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/baseball-color.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Baseball</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/tennis.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Tennis</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/american-football.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>American Football</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/cricket.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Cricket</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/cycling.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Cycling</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/target-color.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Darts</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/presentation.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Financial</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/golf.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Golf</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/racing.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Motor Sport</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/podium.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Olympic</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                            </ul>

                        </div>



                        <div id="match_live" class="tab-pane active">

                            <ul>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Soccer</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/basketball.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Basketball</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/baseball-color.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Baseball</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/tennis.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Tennis</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/american-football.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>American Football</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/cricket.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Cricket</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/cycling.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Cycling</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/target-color.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Darts</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/presentation.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Financial</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/golf.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Golf</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/racing.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Motor Sport</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/podium.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Olympic</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                            </ul>

                        </div>



                        <div id="match_today" class="tab-pane">

                            <ul>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/soccer-ball.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Soccer</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/basketball.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Basketball</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/baseball-color.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Baseball</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/tennis.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Tennis</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/american-football.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>American Football</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/cricket.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Cricket</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/cycling.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Cycling</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/target-color.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Darts</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/presentation.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Financial</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/golf.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Golf</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/racing.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Motor Sport</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                                <li>

                                    <a href="Javascript:void(0);">

                                        <div class="sport_icon"><img src="assets/frontend/images/podium.svg" class="img-fluid" alt="sports" /></div>

                                        <div class="sport_name"><span>Olympic</span></div>

                                        <div class="sport_no"><span>30</span></div>

                                    </a>

                                </li>

                            </ul>

                        </div>



                    </div>







                </div>

            </div>



            <div class="col-md-9 live_panel">



                <div class="tab_head live_tab_head_up">

                    <div class="tab_collaps">

                        <img src="assets/frontend/images/soccer-ball.svg" alt="football" class="img-fluid" />

                    </div>

                    <div class="tab_name">

                        <h5>Soccer</h5>

                    </div>

                    <ul class="flex">

                        <li>MORE</li>

                    </ul>

                </div>



                <div class="LeagueTab live_tab" *ngFor="let lives of livedata | orderBy: 'lives.info.league'; let i = index">

                    <div class="tab_head">

                        <div class="tab_collaps">

                            <button data-toggle="collapse" [attr.data-target]="'#' + i" aria-expanded="false"><img src="assets/frontend/images/down-arrow-light.svg " class="img-fluid icon "></button>

                        </div>

                        <div class="tab_name ">

                            <h5>{{lives?.info?.league}}</h5>

                        </div>

                    </div>

                    <div id="{{i}}" class="collapse">

                        <div class="table_league_re">

                            <table class="table live_table ">

                                <tr>
                                    <td rowspan="5" class="bg_dark" width="72">

                                        <!-- <div class="live_icon">

                                            <a href="#"><img src="assets/frontend/images/video-camera.svg" alt="live" class="img-fluid center-block" /></a>

                                        </div> -->

                                        <div class="time">

                                            <span>{{lives?.info?.period}}</span>

                                            <span>{{lives?.info?.minute}}</span>

                                        </div>

                                    </td>

                                    <td colspan="6 ">{{lives?.info?.name}}</td>

                                    <td rowspan="5 " class="bg_dark " width="50 ">

                                        <div class="rate ">

                                            <a href="# "><img src="assets/frontend/images/star.svg " alt="live " class="img-fluid center-block " /></a>

                                            <a href="# "><img src="assets/frontend/images/statistic.svg " alt="live " class="img-fluid center-block " /></a>

                                            <span>+35</span>

                                        </div>

                                    </td>

                                </tr>

                                <tr>

                                    <td>{{lives?.stats[0]?.home}}</td>

                                    <td width="70 " class="status green ">{{lives.odds[0]?.participants[0]?.value_eu}}</td>



                                    <!-- <td width="70 ">02.75</td>

                                    <td width="70 " class="status green ">2.02</td> -->

                                </tr>

                                <tr>

                                    <td>X</td>

                                    <td width="70 ">{{lives?.odds[1]?.participants[1]?.value_eu}}</td>



                                    <!-- <td width="70 ">02.75</td>

                                    <td width="70 " class="status red ">1.95</td> -->

                                </tr>

                                <tr>

                                    <td>{{lives?.stats[0]?.away}}</td>

                                    <td width="70 ">{{lives.odds[2]?.participants[2]?.value_eu}}</td>



                                    <!-- <td width="70 ">02.75</td>

                                    <td width="70 " class="status red ">1.95</td> -->

                                </tr>

                                <tr>

                                    <td>&nbsp;</td>

                                    <td colspan="5 ">

                                        <div class="markets flex ">

                                            <a href="# ">More Markets</a>

                                        </div>

                                    </td>

                                </tr>

                            </table>

                        </div>

                    </div>

                </div>

            </div>



        </div>

    </div>

</section>